<div class="back-image">
  <div class="container">
    <div class="sub-container">
      <div class="screen">
        <h1>Hello</h1>
      </div>
      <div class="button-container">
        <button>AC</button>
        <button>÷</button>
        <button>×</button>
        <button>-</button>
        <button>7</button>
        <button>8</button>
        <button>9</button>
        <button>=</button>
        <button>4</button>
        <button>5</button>
        <button>6</button>
        <button>-</button>
        <div class="bottom-keys">
          <div class="zero-container">
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button id="zero">0</button>
            <button>.</button>
          </div>
          <button id="plus">+</button>
        </div>
      </div>
    </div>
  </div>
</div>