.back-image {
    display: flex;
    background-image: url('../../assets/desk.jpg');
    background-size: stretch;
    height: 100vh;
    flex: 1;
}
.container {
    display: flex;
    margin-top: 100px;
    background-image: url('../../assets/wood.jpg');
    height: 800px;
    width: 450px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    border: 2px solid sienna;
}

.sub-container {
    background-image: url('../../assets/wood2.jpg');
    height: 750px;
    width: 400px;
    border-radius: 10px;
    border: 2px solid tan;
}

.screen {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: tan;
    height: 100px;
    width: 375px;
    font-family: 'Calc';
}

.button-container {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    width: 375px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

button {
    height: 100px;
    width: 90px;
}

button:hover {
    background-color: grey;
}

button:focus {
    background-color: lightgrey;
}

#zero {
    width: 185px;
}

#plus {
    width: 90px;
    height: 200px;
    margin-left: auto;
}

.bottom-keys {
    display: flex;
    flex-direction: row;
    width: 375px;
}

.zero-container {
    display: flex;
    flex-direction: row;
    width: 280px;
    flex-wrap: wrap;
    justify-content: space-between;
}