<!--The content below is only a placeholder and can be replaced.-->
<nav>
  <div class="nav-wrapper teal darken-1">
    <a href="#!" class="brand-logo">ToolBoxCorner</a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/puzzle">Jeu de Taquin</a></li>
      <li><a routerLink="/calculator">Calculatrice</a></li>
      <li><a routerLink="/cart">Shopping List</a></li>
      <li><a routerLink="/add_student">Inscrire un étudiant</a></li>
      <li><a routerLink="/students_list">Liste des étudiants</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
